@model IEnumerable<AgileTracker.Client.Startup.Models.Tasks.ProjectGroups.Index.ProjectGroupViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-4">
        My project groups
        <sup>
            <a asp-controller="ProjectGroups" asp-action="CreateProjectGroup" class="ml-2"><small>Create  new</small></a>
        </sup>
    </h1>


    @if (Model != null)
    {
        if (Model.Count() > 0)
        {
            foreach (var group in Model)
            {
                <div class="project-group mt-4 ml-2">
                    <a asp-controller="ProjectGroups" asp-action="Group" asp-route-projectGroupId="@group.Id">
                        <div class="group-name">@group.GroupName</div>
                        <div class="group-meta">@group.Members.Count() members</div>
                    </a>
                </div>
            }
        }
        else
        {
            <div class="text-muted mt-4">You're not a member of any project groups</div>
        }

    }
    else
    {
        <div class="text-muted mt-4" asp-validation-summary="All"></div>
    }
</div>
