/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.project-group {
    width: 170px;
    height: 130px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding-top: 1.7rem;
}

    .project-group > a {
        width: 100%;
        display: block;
        height: 100%;
        text-decoration: none;
        color: inherit;
    }

        .project-group > a .group-name {
            font-size: 1.4rem;
        }

        .project-group > a .group-meta {
            color: #555;
            margin-top: 3px;
            font-size: 0.9rem;
        }

.section-title {
    font-size: 2.2rem;
    font-weight: 300;
    border-bottom: 1px solid #dee2e6;
}

li.currentUser {
    font-weight: 500;
}

li.project {
    font-size: 1.7rem;
}

.task-box.not-finished.owner.no-estimation {
    padding-right: 40px;
    position: relative;
}

.task-box > button {
    width: 100%;
    display: block;
    color: initial !important;
    text-decoration: none !important;
    padding: 0;
}

.task-box .estimationToggle {
    width: auto;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 14px;
}

    .task-box .estimationToggle i {
        font-size: 1.3rem;
    }

.task-box .task {
    display: block;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-decoration: none;
    padding: 7px 12px;
}

.task-box.finished .task {
    box-shadow: none;
    background: #bdbdbd;
}

.task-box .task .title {
    font-size: 1.7rem;
    font-weight: 300;
    text-align: left;
}


.taskmodal .modal-dialog {
    margin: 0;
    right: 0;
    left: auto;
    position: absolute;
    width: 50%;
    max-width: 1000px;
    height: 100%;
}

    .taskmodal .modal-dialog .modal-content {
        min-height: 100%;
        border-radius: 0;
    }

        .taskmodal .modal-dialog .modal-content .modal-body {
            padding-bottom: 100px;
        }

        .taskmodal .modal-dialog .modal-content .modal-footer {
            bottom: 0;
            position: absolute;
            width: 100%;
            height: 75px;
        }

.taskmodal.left .modal-dialog {
    right: auto;
    left: 0;
}

.taskmodal .modal-title {
    font-size: 2rem;
    font-weight: 300;
}

.taskmodal .form-group label {
    font-size: 1.5rem;
    font-weight: 300;
}

.btn-icon {
    background: none !important;
    border: none !important;
    outline: none !important;
}

    .btn-icon i {
        font-size: 1.7rem;
    }

    .btn-icon.danger i {
        color: #d32f2f;
    }

.modal-footer .btn-icon {
    display: inline-block;
    left: 15px;
    position: absolute;
}

.card {
    border: none;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

.card-header {
    background: #f5f5f5;
    border-bottom: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

    .card-header .btn-link {
        color: inherit;
        font-size: 1.4rem;
        font-weight: 300;
        text-decoration: none !important;
    }

        .card-header .btn-link .fa {
            font-weight: 300;
            font-size: 0.9rem;
            margin-left: 5px;
            vertical-align: middle;
        }

.sprint-meta .entry .title {
    font-size: 1.4rem;
    font-weight: 300;
}

.sprint-meta .entry .value {
    font-size: 1.4rem;
    font-weight: 300;
}

.back a {
    text-decoration: none !important;
    color: inherit;
    font-size: 1.4rem;
}

    .back a i {
        font-size: 1rem;
        vertical-align: middle;
        padding-bottom: 2px;
        margin-right: 5px;
    }

.manager-section {
    background: #eee;
}
